<%%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>
<%%@ page language="java" import="org.springframework.web.context.support.WebApplicationContextUtils"%>
<%%@ page language="java" import="org.springframework.context.ApplicationContext"%>
<%%@ page language="java" import="com.ysusoft.Util.*"%>
<%%@ page language="java" import="com.ysusoft.ui.purchase.<%= entity.class_name %>Ui"%>
<%% 
// parameters define
String targetDataGridId = "dg<%= entity.class_name %>";
String displayEditFields = request.getParameter("displayEditFields");
String hiddenEditFields = request.getParameter("hiddenEditFields");

// parameters initialize
if (request.getParameter("targetDataGridId") != null) targetDataGridId = request.getParameter("targetDataGridId");

// varibles
ApplicationContext ctx = WebApplicationContextUtils.getWebApplicationContext(getServletContext());
<%= entity.class_name %>Ui ui = (<%= entity.class_name %>Ui) ctx.getBean("<%= downcase_class_name%>Ui");
%>
<script type="text/javascript">
function load<%=entity.class_name%>Entity(r){
  loadFormData("frm<%=entity.class_name%>Entity", r);
}
</script>
<form id="frm<%=entity.class_name%>Entity" method="post" enctype="multipart/form-data">
<%%= displayEditFields!=null? ui.createFormInputs(displayEditFields, true) : "" %>
<%%= hiddenEditFields!=null? ui.createFormInputs(hiddenEditFields, false) : "" %>
</form>